name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      meilisearch:
        image: getmeili/meilisearch:latest
        ports:
          - 7700:7700

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          tools: composer:v2
          coverage: none

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction --no-suggest

      - name: Run migrations
        run: |
          touch database/database.sqlite
          php artisan migrate

      - name: Import icon sets
        run: php artisan icons:import

      - name: Index icons
        run: |
          php artisan scout:index icons
          php artisan scout:import "App\\Models\\Icon"

      - name: Install NPM dependencies
        run: npm install

      - name: Compile assets
        run: npm run production

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: curl ${{ secrets.ENVOYER_HOOK }}?sha=${{ github.sha }}
